[Unit]
Description=Mount OneDrive and Sharepoint with rclone - "%I"
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount \
    --verbose \
    --vfs-cache-mode writes \
    "%I:" "%h/OneDrive/%I"
ExecStop=/bin/fusermount -uz "%h/OneDrive/%I"
Restart=on-abort
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=default.target
