[Unit]
Description=Mount rclone remotes - "%I"
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount \
    $__rclone_options \
    "%I:" "$__target_directory/%I"
ExecStop=/bin/fusermount -uz "$__target_directory/%I"
Restart=on-abort
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=default.target
