[Unit]
Description=Mount rclone remotes - "%I"
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount \
    --verbose \
    --vfs-cache-mode writes \
    "%I:" "$__mount_target_root/%I"
ExecStop=/bin/fusermount -uz "$__mount_target_root/%I"
Restart=on-abort
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=default.target
